@font-face {
    font-family: 'bigdex';
    src: url(./Font/bigdex/Bigdex.ttf);
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column
}

nav {
    flex-grow: 0;
    background-color: #0D1B2A;
}

main {
    align-items: center;
    flex-grow: 1;
    background-color: #1B263B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(231, 227, 227);
}

.header {
    font-family: 'bigdex';
    color: #d1c305;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.choice-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}

.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #d1c305;
    width: 160px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
    
button:hover, button:focus, button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

button:active {
    -webkit-transform: scale(1); /* Reset the scale transformation */
    transform: scale(1);
}
