

main { height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.choice-container {
    display: flex;
    gap: 200px;
}

.score-container {
    display: flex;
    gap: 100px;
}

.button-container {
    display: flex;
    gap: 100px;
}